@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #18181b;
}


#container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

#img img {
    width: 31rem;
}

#liberacao {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 8px;
}

#authButton {
    border: none;
    font-size: 1.0rem;
    font-weight: bold;
    color: #f8fafc;
    background-color: #00A730;
    padding: 0.4rem 0;
    border-radius: 3px;
    cursor: pointer;
    width: 40%;
}

#authButton:hover {
    background-color: #005800;
    transition: all ease 0.3s;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title {
    font-size: 2.25rem;
    position: relative;
}

#title::after {
    position: absolute;
    content: "";
    width: 8rem;
    height: 3px;
    border-radius: 3px;
    background-color: #FF3D3D;
    bottom: 0;
    left: 0;
}

.input-box label {
    font-weight: 500;
    font-size: 1.1rem;
    color: #cbd5e1;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}

.input-field span,
.input-field i {
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
}

.input-field input:focus {
    outline: none;
}

.plataforma {
    display: flex;
    justify-content: space-evenly;
}

#liberar {
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #f8fafc;
    background-color: #FF3D3D;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

#liberar:hover {
    background-color: #B4000A;
    transition: all ease 0.3s;
}

#result {
    display: flex;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}

.liberado {
    color: #00A730;
}

#description {
    width: 15.5rem;
    font-size: 1.5rem;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    #img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #img {
        display: none;
    }

    #container {
        width: 100%;
        height: 100%;
    }

    #liberacao {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }
}
